<div>
    <div *ngIf="loading" class="simpleLoader">
    <div class="btPreloader">
    
      <div class="btLoader"></div> 
    </div>
  </div>
    <h3 class="text-center">Bienvenue dans l'application de generation de devis EXPEDOM.com</h3>
    <p class="text-center">lore ipsum dolore sit amet, lore ipsum dolore sit amet, lore ipsum dolore sit amet</p>

    <div *ngIf='reload' class="overlay" [class.open]="reload">
        <div >
            <h4>Un ancien formulaire est present en memoire. Voulez vous le reprendre???</h4>
            <p>Export de <span>{{__reloaded | GetDevisDetailsPipe:"form_marchandise":"marchandise"}}
                    </span> depuis: <span>{{__reloaded | GetDevisDetailsPipe:"form_from":"from"}}</span> vers: <span>{{__reloaded | GetDevisDetailsPipe:"form_to":"to"}}</span></p>
            <button class="btn btn-primary" (click)="reload_devis()">Reprendre mon ancien devis</button>
            <p>ou</p>
            
           
        </div>
    </div>
    <button class="btn btn-primary" (click)="create_devis()">Commencer un nouveau devis.</button>

    <!--div class="old" *ngIf="saved_devis.length > 0">
        <h3>Vos anciens devis sauvegardés:</h3>
        <ul>
            <li *ngFor="let saved of saved_devis" >
                <a  (click)="to_generated( saved )"><span>{{saved.date | date:mediumDate}}</span> Export de <span>{{saved | GetDevisDetailsPipe:"form_marchandise":"marchandise"}}
                    </span> depuis: <span>{{saved | GetDevisDetailsPipe:"form_from":"from"}}</span> vers: <span>{{saved | GetDevisDetailsPipe:"form_to":"to"}}</span>
                </a>
            </li>

        </ul>
    </div-->

    <!--button (click)="delete_LS">Efface tout ce qu'il y a en memoire....</button-->
</div>