<div class="row">
    <h1 class="row text-center">Bienvenue dans l'application de generation de devis</h1>
    <p class="row text-center">lore ipsum dolore sit amet, lore ipsum dolore sit amet, lore ipsum dolore sit amet</p>

    <div *ngIf="reload">
    <p>Un ancien formulaire est present en memoire. Voulez vous le reprendre???</p>
    <button (click)="reload_devis()">Reprendre</button>
    </div>
    <button class="btn btn-primary" (click)="create_devis()">Commencer</button>

    <div *ngIf="saved_devis.length > 0">
        <h3>Vos anciens devis sauvegardés:</h3>
        <ul>
            <li *ngFor="let saved of saved_devis" >
                <span>{{saved.date | date:mediumDate}}</span> <a  (click)="to_generated( saved )">{{saved.title || "un titre"}}</a>
            </li>

        </ul>
    </div>
</div>