<div [formGroup]="form" class="field">
      <div [ngSwitch]="question.type">



        <div *ngSwitchCase="'text'" class="form-group">
        

            <!--label [attr.for]="question.id">{{question.title}}</label>
            <span>(<small>{{question.description}}</small>)</span>
            <input  [formControlName]="question.id"
                    [id]="question.id" type="text" [(ngModel)]="question.__value"
                    class='form-control form-control-lg' required
                     -->
        <div class="schrink">
            <div class="input-container">
                <input #texted type="text" [ngClass]="{'full':texted.value != ''}" 
                [formControlName]="question.id"
                    [id]="question.id" type="text" 
                    [(ngModel)]="question.__value"
                    required>
                <label>{{question.title}}</label>        
            </div>
            <span>(<small>{{question.description}}</small>)</span>
        </div>
                    
        </div>



        <div *ngSwitchCase="'number'" class="form-group">
            <div  class="schrink">
                <div class="input-container">
                    <input #texted type="text" [ngClass]="{'full':texted.value != ''}" 
                    [formControlName]="question.id"
                        [id]="question.id" type="number" 
                        [(ngModel)]="question.__value"
                        required>
                    <label>{{question.title}}</label>        
                </div>
                <span>(<small>{{question.description}}</small>)</span>
            </div>
        </div>



        <div *ngSwitchCase="'email'" class="form-group">
            <div  class="schrink">
                <div class="input-container">
                    <input #texted type="text" [ngClass]="{'full':texted.value != ''}" 
                    [formControlName]="question.id"
                        [id]="question.id" type="email" 
                        [(ngModel)]="question.__value"
                        required>
                    <label>{{question.title}}</label>        
                </div>
                <span>(<small>{{question.description}}</small>)</span>
            </div>

            
        </div>


        <div *ngSwitchCase="'textarea'" class="form-group">
            <div  class="schrink">
                <div class='input-container'>
                    <textarea #texted [formControlName]="question.id" [ngClass]="{'full':texted.value != ''}"
                        [id]="question.id" [(ngModel)]="question.__value"
                         required
                         height="3em"
                        ></textarea>
                <label>{{question.title}}</label>        
                </div>
                <span>(<small>{{question.description}}</small>)</span>
            </div>

            <!--label [attr.for]="question.id">{{question.title}}</label>
            <span>(<small>{{question.description}}</small>)</span>
            <textarea [formControlName]="question.id"
                    [id]="question.id" [(ngModel)]="question.__value"
                    class='form-control form-control-lg' required
                    ></textarea-->
        </div>



        <div *ngSwitchCase="'select'" class="form-group">
            <div class="schrink">
                <div class='input-container'>
                    <select #texted [id]="question.id"  [formControlName]="question.id" [(ngModel)]="question.__value" 
                       [ngClass]="{'full':texted.value != ''}" required>
                            <option *ngFor="let opt of question.options" [value]="opt.value">{{opt.label}}</option>
                    </select>
                <label>{{question.title}}</label>        
                </div>
                <span>(<small>{{question.description}}</small>)</span>
            </div>
            <!--label [attr.for]="question.id">{{question.title}}</label>
            <span>(<small>{{question.description}}</small>)</span>
            <select [id]="question.id"  [formControlName]="question.id" [(ngModel)]="question.__value" 
             class="form-control" required>
                <option *ngFor="let opt of question.options" [value]="opt.value">{{opt.label}}</option>
            </select-->
        </div>




        

        
        <div *ngSwitchCase="'radio'" class="text-center">
              
                  <h3 class="row text-center">{{question.title}}</h3>
                  <p class="row">{{question.description}}</p>
                  <div class="choice-cmp inline"><!-- [class.inline]="question.options.length<3"-->
                    <div class="text-left"  *ngFor="let it of question.options">                        
                        <label> 
                            <input   [formControlName]="question.id"                        
                            type="radio" 
                            [(ngModel)]="question.__value"
                            [value]="it.value"
                            required
                            class=" check-container radio"
                            >
                            <span>{{it.label}}</span></label>    
                            <span><small>{{it.description || "Merci de mettre une petite description sur tous les items des formulaires pour expliquer ce qu'ils font...'"}}</small></span>
                    </div>    
                    
                </div>
              
           
            
        </div>
         <div *ngSwitchCase="'checkbox'" class="choice-cmp">
                                                    
                      <label > 
                        <input  [formControlName]="question.id"                        
                         type="checkbox" 
                         [(ngModel)]="question.__value"
                         [value]="question.selected"
                         
                         class="check-container check"
                    >{{question.title}}</label>    
                    <span><small>{{question.description}}</small></span>
                 
            
        </div>

        <div *ngSwitchCase="'arbo-radio'">
                <df-arbo-question [question]="question" [groupName]="'trigger'" [options]="question" [form]="form" [ctrlActive]="true"></df-arbo-question>            
        </div>

        <div *ngSwitchCase="'gps'">
            <dyna-gps [question]="question" [form]="form"></dyna-gps>
        </div>



        <div class="row options-group" *ngSwitchCase="'category-radio'">
              
            <div class="form-check" *ngFor="let it of question.options">
                
                  <h3 class="panel-heading">{{it.label}}</h3>
                      <label class="form-check-label" *ngFor="let opt of it.options">              
                        <input [formControlName]="question.id"                        
                         type="radio" 
                         [(ngModel)]="question.__value"
                         [value]="opt.value"
                         required
                            class="form-check-input">
                        {{opt.label}}</label>    
                                     
            </div>
              
           
            
        </div>
      </div>
      <div *ngIf="isValid"  class="alert">
        <ul>
            <li *ngIf="error.required">
            Ce champs doit obligatoirement etre renseigné!
            </li>
            <li *ngIf="error.minlength">
            Ce champs doit faire plus de <span>{{error.minlength.requiredLength}}</span> caractères.
            </li>
            <li *ngIf="error.maxlength">
            Ce champs doit faire moins de <span>{{error.maxlength.requiredLength}}</span> caractères.
            </li>
            <li *ngIf="error.pattern">
            Le contenu de ce champs n'est pas valide!
            </li>

            <li *ngIf="error.email">
            Merci d'indiquer une adresse mail valide.
            </li>

            <li *ngIf="error.min">
            Vous devez renseigner un nombre superieur à <span>{{error.min.requiredValue}}</span>.
            </li>
             <li *ngIf="error.max">
            Vous devez renseigner un nombre inferieur à <span>{{error.max.requiredValue}}</span>.
            </li>
        </ul>
      </div>
    
        
    </div>