//@import "./material/text.input";
@import "./material/check";

/*
.text-center{
  text-align: center;
}
.text-left{
  text-align:left;
  margin-bottom: 10px;
  display:inline-block;
  
        margin: 20px  0;
}
.field{
  margin-bottom: 40px;
}

*/
.input-container{
 
    text-align: left!important;
    label{
      display:block;
    }
}
.alert{
  background: rgba(177, 66, 97, 0.81) !important;
    padding: 10px !important;
    /* border-radius: 0 !important; */
    position: relative;
    display: inline-block !important;
    /* box-shadow: 1px 1px 1px #aaaaaa; */
    border-radius: 5px;
    font-weight: 700;
    margin-top: 10px;
    font-size: 1.1em;
    text-align:left;
  ul{
    list-style: none;
    li{
      &:after{
        color: rgba(177, 66, 97, 0.81) !important;
      }
    }
  }
}

.ng-invalid .alert{ 
  background: rgba(177, 66, 97, 0.81) !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative; 
  display: inline-block !important;
  
  margin-top: 10px;
}
.ng-invalid  .alert:before{ 
  content: ''; 
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(177, 66, 97, 0.81);
  position: absolute; 
  top: -10px; 
}

.shrink{
  margin: 10px 0 0 10px;
  box-sizing: border-box;
  @media screen and (max-width: 700px){
    margin: 0;
  }
}
.button-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  .text-left{
      flex-grow: 0;
      width: auto;
      border: none;
      max-width: 33%;
      min-width: 200px;
      margin-right: 10px;
      //text-align: right;
      .check-container{
        margin: 20px 10px 0 0;
      }
      span{
        margin: none !important;
        small{text-indent: none;}
      }
  }


}