<div [formGroup]="form" class="border">
  <!-- affichage des tabs pour les choix -->
  <div class="tabs">
    <div class="tab" *ngFor="let frm of question.options">
        <label>
          <input type="radio" [(ngModel)]="filter" 
              [formControlName]="filter_form_ctrl"
              [attr.name]="filter_form_ctrl"
              [value]="frm.id"                
              #trigger>
          <span>{{frm.title}}</span></label>
    </div>
  </div>
    <div class="content">
        <!-- suivant le filtre, affiche le contenu possible -->
        <div *ngIf="selected_tab">
          <df-question *ngFor='let field of selected_tab.fields' [formulaire]="formulaire" [question]="field" [form]="form"></df-question>
        </div>
    </div>

  
</div>