<fieldset  class="text-center " [formGroup]="form" ><!--[class.left]='groupName'-->
        <div class="schrink inline">
            <div class="input-container">
                <label>{{question.title}}</label>  
                <input #texted type="text"  
                    [formControlName]="question.id"
                    [(ngModel)]= "question.__value"
                    [id]="question.id" type="text" 
                    
                    [placeholder]="question.description"
                    >
                      
            </div>
            <!--span>(<small>{{question.description}}</small>)</span-->
            <button *ngIf="!loading" class="btn btn-primary" type="button" (click)="load_vehicule_details(texted.value)">Details</button>
            <button *ngIf="loading" class="btn btn-primary" type="button" ><i class="fa fa-spin fa-gear"></i></button>
        </div>
        <div *ngIf="loading">
            <p>Chargement des informations sur votre véhicule. Merci de patienter...<i class="fa fa-spin fa-gear"></i></p>
        </div>
        <div *ngIf="error" class="error">
            <p>{{error}}</p>
               
        </div>

        <hr/>

</fieldset>