<fieldset  class="text-center " [formGroup]="form" ><!--[class.left]='groupName'-->
     <div  class="choice-cmp">
                                                    
                      <label > 
                        <input  [formControlName]="question.id"  
                        (change)="performCheck()"                      
                         type="checkbox" 
                         checked="false"
                         #checker >
                         <div class=" check-container check"></div><span>{{question.title}}</span></label>    
                    <span class="check_clear"><small [innerHTML]="question.description | safeHTML"></small></span>
                 
            
        </div>
<div [ngSwitch]="conteneur?.__value">
    <p *ngSwitchCase="'20'">conteneur 20m3: maximum 2 voitures et 4 motos.</p>
    <p *ngSwitchCase="'40'">conteneur 40m3: maximum 3 voitures et 5 motos.</p>
    <p *ngSwitchDefault>Pour pouvoir ajouter un ou plusieurs véhicules, veuillez auparavant sélectionner un type de conteneur</p>
    
</div>
   

    <table *ngIf="conteneur?.__value" class="vehicules" [class.hidden]="!checker.checked">
        <tr *ngFor="let group of question.__value; let i = index">

            <!-- champs FNAA -->
            <td *ngIf="group.error">
                 <span class="immatinfos">{{group.immatriculation}}</span>
            </td>
            <!-- le vehicule -->
             <td *ngIf="!group.error" class="inline">
                 <span class="immatinfos">{{group.marque+" "+group.modele+" "+group.version}}</span>
                 <button class="btn btn-danger close" type="button" (click)="delete(i)"><i class="fa fa-close"></i></button>
             </td>
        </tr>
        <tr class="last-child">
            <td> 
                <div *ngIf="unknown_error" class="error"><p>La plaque d'immatriculation renseignée semble inconnue. Merci de vérifier.</p></div>
                <div class="schrink inline">
                    <div class="input-container">
                        <label>Entrez la plaque d'immatriculation du véhicule:</label>  
                        <input #texted type="text"  
                             type="text"  
                             [disabled]="!checker.checked"                           
                            placeholder="ex: 2874AA40"
                            >
                            
                    </div>
                    <!--span>(<small>{{question.description}}</small>)</span-->
                    <button *ngIf="!loading" [disabled]="!checker.checked" class="btn btn-primary " type="button" (click)="load_vehicule_details(texted.value)">Details</button>
                    <button *ngIf="loading"  class="btn btn-primary " type="button" ><i class="fa fa-spin fa-gear"></i></button>
                </div>
                 <!--button class="btn btn-primary wide" [disabled]="!checker.checked" type="button" (click)="addField()">Ajouter un vehicule au conteneur</button-->
            </td>
        </tr>
    </table>


</fieldset>