.container{
    width: 100%;
}
.formulaire{
    width: 80%;
    max-width: 700px;
    min-width: 400px;
    margin: 0 auto;

    min-height: 90vh;
    position: relative;
}
.app_title{
    text-align:center;
}
.form-check{
    display: flex;
}