.app-container{
    max-width: 960px!important;
    font-family: Open Sans,sans-serif;
    background: hsla(0,0%,100%,.8);
    margin: 0 auto;
    color: #444;
    min-height: 100vh;
    overflow-x: hidden;
}
