/* You can add global styles to this file, and also import other style files */
.app-root{
      /*text-shadow: 1px 1px #A3A3A3;*/
     
      min-height: 400px;
      padding: 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select{
  color:#3E3E3E!important;
}
.inflow>.btPreloader{
  position: inherit;
}
.simpleLoader>.btPreloader> .btLoader{
            border-top:5px solid rgb(8,72,126);
            border-left: 5px solid #f19300;
            border-right: 5px solid #f19300;
            border-bottom: 5px solid #f19300;
        
    
}
.gm-style-iw{
  overflow:visible!important;
}
.gm-style-iw > div{
  overflow: visible!important;
}

.required{
  font-weight: 700;
  color: #f19300;
}

/*
.entry-content{
  width: 100%!important;
}
/* un loading widget, present partout... *
/* Absolute Center Spinner *
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay *
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* :not(:required) hides these rules from IE9 and below *
.loading:not(:required) {
  /* hide "loading..." text *
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #f19300 1.5em 0 0 0, #f19300 1.1em 1.1em 0 0,#f19300 0 1.5em 0 0, #f19300 -1.1em 1.1em 0 0, #00aad2 -1.5em 0 0 0, #00aad2 -1.1em -1.1em 0 0, #00aad2 0 -1.5em 0 0, #00aad2 1.1em -1.1em 0 0;
  box-shadow: #f19300 1.5em 0 0 0, #f19300 1.1em 1.1em 0 0, #f19300 0 1.5em 0 0, #f19300 -1.1em 1.1em 0 0, #00aad2 -1.5em 0 0 0, #00aad2 -1.1em -1.1em 0 0, #00aad2 0 -1.5em 0 0, #00aad2 1.1em -1.1em 0 0;
}

/* Animation *

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* une reecriture des styles buttons *
.btn-primary{
  background-color: #00aad2;
  transition: all 250ms ease-out;
  box-shadow: none;
  border:none;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
.btn-primary:hover {
    background-color: #0087a7!important;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
.btn-primary:focus,
.btn-primary:active{
  background-color: #0087a7!important;
  box-shadow: none;
}
  */
